@import "reset.css";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,400;1,600&family=Playfair+Display:ital,wght@1,400;1,600&family=Yanone+Kaffeesatz:wght@300&display=swap");

@font-face {
   font-family: "Caveat";
   src: url("Caveat-Regular.woff2") format("woff2"), url("Caveat-Regular.woff") format("woff");
   font-weight: normal;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "JetBrains Mono";
   src: url("JetBrainsMono-Thin.woff2") format("woff2"), url("JetBrainsMono-Thin.woff") format("woff");
   font-weight: 100;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "JetBrains Mono";
   src: url("JetBrainsMono-ExtraLightItalic.woff2") format("woff2"),
      url("JetBrainsMono-ExtraLightItalic.woff") format("woff");
   font-weight: 200;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: "JetBrains Mono";
   src: url("JetBrainsMono-ExtraBoldItalic.woff2") format("woff2"),
      url("JetBrainsMono-ExtraBoldItalic.woff") format("woff");
   font-weight: bold;
   font-style: italic;
   font-display: swap;
}

@font-face {
   font-family: "Caveat";
   src: url("Caveat-SemiBold.woff2") format("woff2"), url("Caveat-SemiBold.woff") format("woff");
   font-weight: 600;
   font-style: normal;
   font-display: swap;
}

/*============================== шрифты Figma ============================*/

@font-face {
   font-family: "Lato";
   src: url("../fonts/Lato-Black.woff2") format("woff2"), url("Lato-Black.woff") format("woff");
   font-weight: 900;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Lato";
   src: url("Lato-Bold.woff2") format("woff2"), url("Lato-Bold.woff") format("woff");
   font-weight: 700;
   font-style: normal;
   font-display: swap;
}

@font-face {
   font-family: "Lato";
   src: url("Lato-Regular.woff2") format("woff2"), url("Lato-Regular.woff") format("woff");
   font-weight: 400;
   font-style: normal;
   font-display: swap;
}

/*========================================================================*/

body {
   font-family: "Montserrat", sans-serif;
   font-size: 20px;
}

.title-1 {
   font-family: "JetBrains Mono";
   font-weight: 800;
   font-style: italic;
   font-size: 60px;
   text-align: center;
   color: brown;
   text-transform: uppercase;
   text-shadow: 20px 15px 5px #742a2a;
}

.text-1 {
   font-family: "Caveat";
   font-size: 25px;
   text-align: left;
   color: blue;
   text-transform: capitalize;
   text-shadow: 15px -8px 4px #000;
}

.title-2 {
   font-family: "Open Sans Condensed";
   font-weight: 700;
   font-size: 40px;
   word-spacing: 30px;
   text-align: center;
   color: brown;
   text-transform: uppercase;
   text-shadow: -15px -15px 5px #b22222, 15px 15px 5px #000;
}

.list-1 {
   font-family: "JetBrains Mono";
   font-weight: 200;
   font-style: italic;
   font-size: 22px;
   text-align: left;
   color: #000;
   letter-spacing: 5px;
   text-shadow: 0px -5px 2px #2e8b57;
}

.sublist-1-1 {
   font-family: "Lobster";
   font-size: 18px;
   word-spacing: 22px;
   text-indent: 15px;
   text-align: right;
   letter-spacing: normal;
   text-transform: lowercase;
   text-decoration: underline;
   text-shadow: -15px 0px 2px #dda0dd;
}

.sublist-1-2 {
   font-family: "Russo One";
   letter-spacing: 1px;
   text-align: justify;
   text-decoration: line-through;
   color: darkgreen;
   text-shadow: 0px 5px 4px #ffdd00;
}

.sublist-1-3 {
   font-size: 25px;
   letter-spacing: 1px;
   word-spacing: 15px;
   line-height: 2;
   color: darkseagreen;
   text-shadow: 12px -15px 3px #ff6347, -12px 15px 3px #ff6347;
}

.sublist-2-1 {
   font-weight: 600;
   font-style: italic;
   line-height: 1.5;
   text-align: center;
   text-decoration: overline;
   color: #ffdd00;
}

.sublist-2-2 {
   font-family: "Yanone Kaffeesatz";
   font-weight: 300;
   line-height: 1.5;
   word-spacing: 15px;
   text-transform: uppercase;
   text-align: justify;
   color: #a0522d;
   text-shadow: -5px 5px 3px #4b0082;
}

.sublist-2-3 {
   font-family: "Playfair Display";
   font-weight: 300;
   word-spacing: 25px;
   color: #000;
   text-shadow: 10px 5px 3px #ff0000;
}

.list-3 {
   font-family: "Russo One";
   word-spacing: 30px;
   text-transform: lowercase;
   text-shadow: 2px 2px 2px #00ced1;
}

.text-2 {
   font-family: "Playfair Display";
   font-weight: 600;
   line-height: 2;
   letter-spacing: 3px;
   word-spacing: 20px;
   color: #ff0000;
   text-align: justify;
   text-transform: uppercase;
   text-shadow: 0px 7px 2.5px #000, 0px -7px 5px #000;
}

[class*="-img"] {
   width: 100%;
   height: 150px;
}

/*========================Figma========================*/

h1,
div p,
.text {
   font-family: "Lato";
}

h1 {
   font-size: 46px;
   font-weight: 900;
   line-height: 1.3;
   color: #1e212c;
}

.text {
   font-weight: 700;
   font-size: 20px;
   line-height: 1.5;
   color: #1e212c;
}

div p {
   font-size: 16px;
   line-height: 1.6;
   color: #424551;
}

.list {
   text-indent: 32px;
}
